
.card{
    border:0;
}
.main_cards
{
    padding: 60px 0 60px 0;
    font-family: Monsterrat-Regular;
}
.card-title{
    font-size: 18px;
}
.card-text
{
    font-size: 15px;
}

.card-body .btn{
font-size: 16px;
padding: 11px 35px 11px 35px;

}
.card-body .btn:hover
{
background-color: #00c8c8;
border: 1px solid #00c8c8;
}
.card_inf>li 
{
    margin: 18px 0;
}
.card_desc
{
    padding-bottom:123px;
}
.card{
    color:#575153;
}