
html{
    font-size: 13px;
}




@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/card";




@font-face{
    font-family: Montserrat-Bold;
    src:url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: Monsterrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
    font-family: Monsterrat-Light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}



.container-fluid
{
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
.btn-nav_basket
{
    height: 100%;
    width: 150px;
    
}
.container
{
    height: 100%;
}
.nav-link,.nav-item{
    color:#575153;
}


@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
